* {
    box-sizing: border-box;
}

/* :root {
    --color-red: ''
} */

body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Muli";
    src: url(./muli/Muli-Bold.ttf);
    font-weight: 700px;
}

@font-face {
    font-family: "Muli";
    src: url(./muli/Muli-ExtraLight.ttf);
    font-weight: 300px;
}


/*==========container==========*/
.container-fluid {
    width: 100%;
    height: 100%;
    background: #ffffff;
    padding: 0;
    overflow: hidden;
    /* color: var(--color-red) */
}

/*==========header==========*/
.header {
    width: 80%;
    margin: 50px auto 0;
    height: 719px;
}

.header_row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 74px;
}

.logo {
    width: 200px;
    height: 41px;
}

.logo button {
    background: #458ff6;
    width: 41px;
    height: 41px;
    border-radius: 20px;
    border: 1px solid #458ff6;
    font-family: 'Muli';
    font-size: 26px;
    color: #ffffff;
    font-weight: 700;
    margin-right: 12px;
}

.logo span {
    width: 107px;
    height: 30px;
    font-family: 'Muli';
    font-size: 24px;
    font-weight: 700;
    color: #233348;
    line-height: 41px;
}

.header_row svg {
    display: none;
}

.top_nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.top_nav ul li:first-child a {
    font-weight: 700;
    opacity: 1;
}

.top_nav ul li a {
    font-family: 'Muli';
    font-size: 18px;
    color: #1f1534;
    margin-right: 40px;
    text-decoration: none;
    opacity: 0.5;
    line-height: 41px;
}

.header_background {
    width: 131px;
    height: 115px;
    margin-left: -20%;
    margin-top: -40px;
    background-image: url(./images/background.svg);
}

.header_banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.header_text {
    margin-top: 63px;
}

.header_text h2 {
    font-family: 'Muli';
    width: 100%;
    color: #000000;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 25px;
}

.header_text p {
    font-family: 'Muli';
    width: 100%;
    height: 96px;
    font-size: 21px;
    line-height: 32px;
    margin-bottom: 45px;
}

.consult_btn {
    width: 200px;
    height: 60px;
}

.consult_btn button {
    font-family: 'Muli';
    width: 200px;
    height: 56px;
    border-radius: 56px;
    border: 1px solid #458ff6;
    background: #458ff6;
    color: #ffffff;
    font-size: 18px;
    line-height: 55px;
}

.illustration {
    width: 100%;
    height: 598px;
}

.illustration img {
    width: 100%;
    height: 100%;
}

/*==========our_services==========*/
.our_services {
    width: 80%;
    margin: 0 auto 10%;
}

.our_services_text {
    width: 100%;
    margin: 100px auto;
}

.our_services_text h3 {
    width: 212px;
    height: 56px;
    font-family: 'Muli';
    font-size: 36px;
    line-height: 56px;
    font-weight: 700;
    margin: 0 auto 26px;
    color: #000000;
}

.our_services_text div {
    width: 56px;
    height: 2px;
    background-color: #000000;
    margin: 0 auto;
}

.our_services_text p {
    width: 100%;
    margin: 33px auto 0;
    font-family: 'Muli';
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #7d7987;
}

.our_services_services {
    width: 100%;
    height: 745px;
    margin: 0 auto;
}

.our_services_services_row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-bottom: 37px;
}

.our_service_backround {
    width: 765px;
    height: 617px;
    margin-left: -20%;
    margin-bottom: -105%;
    background-image: url(./images/our-service.svg);
}

.search_doctor {
    width: 100%;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);

}

.search_doctor img {
    width: 70px;
    height: 70px;
    margin: 34px 0 22px 37px;
}

.search_doctor h5 {
    color: #000000;
    font-family: 'Muli';
    font-size: 22px;
    line-height: 56px;
    font-weight: 700;
    margin-left: 37px;
    margin-bottom: 1px;
}

.search_doctor p {
    font-family: 'Muli';
    font-size: 14px;
    color: #7d7987;
    margin-left: 39px;
    margin-right: 20px;
    margin-bottom: 46px;
}

.online_pharmacy {
    width: 100%;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}

.online_pharmacy img {
    width: 70px;
    height: 70px;
    margin: 34px 0 22px 37px;
}

.online_pharmacy h5 {
    color: #000000;
    font-family: 'Muli';
    font-size: 22px;
    line-height: 56px;
    font-weight: 700;
    margin-left: 37px;
    margin-bottom: 1px;
}

.online_pharmacy p {
    font-family: 'Muli';
    font-size: 14px;
    color: #7d7987;
    margin-left: 39px;
    margin-right: 20px;
    margin-bottom: 46px;
}

.consultation {
    width: 100%;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}

.consultation img {
    width: 70px;
    height: 70px;
    margin: 34px 0 22px 37px;
}

.consultation h5 {
    color: #000000;
    font-family: 'Muli';
    font-size: 22px;
    line-height: 56px;
    font-weight: 700;
    margin-left: 37px;
    margin-bottom: 1px;
}

.consultation p {
    font-family: 'Muli';
    font-size: 14px;
    color: #7d7987;
    margin-left: 39px;
    margin-right: 20px;
    margin-bottom: 46px;
}

.our_services_services_row2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 35px;
}

.detail_info {
    width: 100%;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}

.detail_info img {
    width: 70px;
    height: 70px;
    margin: 46px 0 25px 39px;
}

.detail_info h5 {
    color: #000000;
    font-family: 'Muli';
    font-size: 22px;
    line-height: 56px;
    font-weight: 700;
    margin-left: 37px;
    margin-bottom: 1px;
}

.detail_info p {
    font-family: 'Muli';
    font-size: 14px;
    color: #7d7987;
    margin-left: 39px;
    margin-right: 20px;
    margin-bottom: 46px;
}

.emergency_care {
    width: 100%;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}

.emergency_care img {
    width: 70px;
    height: 71px;
    margin: 49px 0 20px 40px;
}

.emergency_care h5 {
    color: #000000;
    font-family: 'Muli';
    font-size: 22px;
    line-height: 56px;
    font-weight: 700;
    margin-left: 37px;
    margin-bottom: 1px;
}

.emergency_care p {
    font-family: 'Muli';
    font-size: 14px;
    color: #7d7987;
    margin-left: 39px;
    margin-right: 20px;
    margin-bottom: 46px;
}

.tracking {
    width: 100%;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}

.tracking img {
    width: 70px;
    height: 70px;
    margin: 45px 0 23px 38px;
}

.tracking h5 {
    color: #000000;
    font-family: 'Muli';
    font-size: 22px;
    line-height: 56px;
    font-weight: 700;
    margin-left: 37px;
    margin-bottom: 1px;
}

.tracking p {
    font-family: 'Muli';
    font-size: 14px;
    color: #7d7987;
    margin-left: 39px;
    margin-right: 20px;
    margin-bottom: 46px;
}

.our_services_backgrount_right {
    width: 131px;
    height: 115px;
    margin: -29% 0 0 82%;
    background-image: url(./images/background.svg);
}

.our_services_btn {
    margin: 5% 0 0;
}

.our_services_btn div {
    width: 200px;
    height: 56px;
    margin: 0 auto;
}

.our_services_btn button {
    width: 200px;
    height: 56px;
    font-size: 18px;
    font-weight: 700;
    line-height: 54px;
    color: #458ff6;
    border-radius: 54px;
    border: 1px solid #458ff6;
    background-color: #ffffff;
}

/*==========leading_healthcare_providers==========*/
.leading_healthcare_providers {
    width: 80%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    
}

.leading_healthcare_providers_img {
    width: 100%;
    height: 477px;
}

.leading_healthcare_providers_img img {
    width: 100%;
    height: 100%;
}

.leading_healthcare_providers_text {
    width: 100%;
    margin-left: 30px;
    margin-top: 10%;
}

.leading_healthcare_providers_text h3 {
    color: #000000;
    font-family: 'Muli';
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 26px;
}

.restang {
    background-color: #000000;
    width: 52px;
    height: 2px;
    margin-bottom: 31px;
}

.leading_healthcare_providers_text p {
    font-family: 'Muli';
    font-size: 16px;
    line-height: 30px;
    color: #7d7987;
    margin-bottom: 40px;
}

.leading_healthcare_providers_text_btn {
    width: 200px;
    height: 56px;
}

.leading_healthcare_providers_text_btn button {
    width: 200px;
    height: 56px;
    font-family: 'Muli';
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
    color: #458ff6;
    border-radius: 54px;
    border: 1px solid #458ff6;
    background-color: #ffffff;
}

/*==========download_our_mobile_apps==========*/
.download_our_mobile_apps_background {
    width: 80px;
    height: 115px;
    margin: 0 0 3% 95%;
    background-image: url(./images/background.svg);
}

.download_our_mobile_apps {
    width: 80%;
    margin: 0 auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.download_our_mobile_apps_img {
    height: 434px;
    margin-left: 71px;
}

.download_our_mobile_apps_img img {
    width: 100%;
    height: 100%;
}

.download_our_mobile_apps_text {
    margin-left: 15%;
    margin-top: 50px;
}

.download_our_mobile_apps_text h3 {
    color: #000000;
    font-family: 'Muli';
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 26px;
}

.restang {
    background-color: #000000;
    width: 52px;
    height: 2px;
    margin-bottom: 31px;
}

.download_our_mobile_apps_text p {
    font-family: 'Muli';
    font-size: 16px;
    color: #7d7987;
    margin-bottom: 40px;
}

.download_our_mobile_apps_btn {
    width: 200px;
    height: 56px;
}

.download_our_mobile_apps_btn button {
    width: 200px;
    height: 56px;
    font-family: 'Muli';
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
    color: #458ff6;
    border-radius: 54px;
    border: 1px solid #458ff6;
    background-color: #ffffff;
}

.download_our_mobile_apps_btn button img {
    width: 9px;
    height: 16px;
    margin: 15px 0 20px 5px;
}

/*==========testimonials==========*/
.testimonials {
    width: 80%;
    height: 430px;
    margin: 0 auto 170px;
}

.testimonials_groups {
    height: 430px;
    margin: 0 auto;
    background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
    border-radius: 24px;
    padding-top: 64px;
}

.testimonials_groups h4 {
    height: 48px;
    text-align: center;
    color: #ffffff;
    font-family: 'Muli';
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    margin: 0;
}

.restangs {
    background: #ffffff;
    width: 56px;
    height: 2px;
    margin: 25px auto;
}

.testimonials_groups_groups {
    display: flex;
    justify-content: space-between;
    height: 40%;
    margin: 70px 40px 30px;
}

.testimonials_groups_groups_img {
    width: 100px;
    height: 100px;
    margin: 0 33px 0 0;
}

.testimonials_groups_groups_img img {
    border-radius: 30%;
}

.testimonials_groups_groups_text {
    margin-top: 35px;
    margin-left: 20px;
    margin-right: 50px;
}

.testimonials_groups_groups_text h6 {
    width: 183px;
    color: #ffffff;
    font-family: 'Muli';
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

.testimonials_groups_groups_text p {
    height: 32px;
    color: rgba(255, 255, 255, 0.85);
    font-family: 'Muli';
    font-size: 18px;
    line-height: 32px;
    margin: 5px;
}

.testimonials_groups_groups_texts {
    font-size: 17px;
    color: rgba(255, 255, 255, 0.9);
}

.arrow_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 34px 0 0 0;
}

.arrow_nav_1 {
    margin-right: 91px;
}

.arrow_nav_2 {
    margin-right: 18px;
}

.arrow_nav_3 {
    margin-right: 91px;
}

/*==========our_lates_article==========*/
.our_lates_article {
    width: 80%;
    margin: 0 auto;
}

.our_lates_article_element{
    width: 100px;
    height: 90px;
    margin-bottom: -3%;
    margin-left: 13px;
    background-image: url(./images//background.svg);
}
.our_lates_article_text {
    width: 462px;
    height: 56px;
    margin: 0 auto 72px;
}

.our_lates_article_text h3 {
    text-align: center;
    height: 56px;
    font-family: 'Muli';
    font-size: 30px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 26px;
}

.restanges {
    background-color: #000000;
    width: 56px;
    height: 2px;
    margin: 0 auto;
}

.our_lates_article_row {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.our_lates_article_row_col {
    background-color: #FFFFFF;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
}

.our_lates_article_row_col a {
    font-family: 'Muli';
    text-decoration: none;
}

.our_lates_article_row_col a img {
    width: 100%;
    height: 240px;
    border-radius: 20px 20px 0px 0px;
}

.our_lates_article_row_col a h4 {
    width: 200px;
    margin: 0 20px 12px;
    font-family: 'Muli';
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

.our_lates_article_row_col a p {
    font-family: 'Muli';
    font-size: 15px;
    font-weight: 300;
    margin: 0 20px 20px;
    color: #7d7987;
}

.our_lates_article_row_col a span {
    display: block;
    height: 28px;
    margin: 0 20px 35px;
    color: #4089ED;
}

.our_lates_article_row_col a span img {
    width: 14px;
    height: 9px;
    margin-left: 5px;
}

.our_lates_article_btn {
    width: 200px;
    height: 56px;
    margin: 10% auto 0;
}

.our_lates_article_background{
    width: 420px;
    height: 515px;
    margin-top: -55%;
    margin-left: 78%;
    background-image: url(./images/latest-article.svg);
}
.our_lates_article_btn button {
    width: 200px;
    height: 56px;
    border-radius: 55px;
    border: 1.4px solid #458ff6;
    background-color: #ffffff;
    font-family: 'Muli';
    color: #458ff6;
    font-size: 18px;
    line-height: 50px;
}

/*==========footer==========*/
.footer {
    width: 100%;
    background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
}

.footer_background_left{
    width: 121px;
    height: 95px;
    margin-top: -7%;
    background-image: url(./images/background-1.svg);
}

.footer_background_reight{
    width: 121px;
    height: 95px;
    margin-left: 87%;
    margin-bottom: -1%;
    margin-top: 2%;
    background-image: url(./images/background.svg);
}
.footer_row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

.footer_row_col {
    margin: 100px 20px 0 50px;
}

.footer_row_col_logo {
    display: flex;
    margin-bottom: 37px;
    margin-top: -15px;
}

.footer_row_col_logo button {
    width: 41px;
    height: 41px;
    border-radius: 20px;
    border: 1px solid #ffffff;
    color: #5b9bf3;
    font-family: 'Muli';
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;

    margin-right: 12px;
    background-color: #FFFFFF;
}

.footer_row_col_logo span {
    width: 107px;
    height: 30px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Muli';
    font-size: 24px;
    line-height: 30px;
    padding-top: 5px;
}

.footer_row_col p {
    width: 100%;
    height: 84px;
    font-weight: 300;
    font-family: 'Muli';
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 31px;
}

.footer_row_col_text {
    width: 391px;
    height: 28px;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}

.company {
    margin: 89px 0;
}

.company h6 {
    width: 92px;
    height: 60px;
    color: #FFFFFF;
    font-family: 'Muli';
    margin-top: 10px;
    font-weight: 700;
    margin-bottom: 0;
}

.menu_footer {
    list-style-type: none;
    padding: 0;
}

.menu_footer li {
    padding: 0 0 10px 0;
}

.menu_footer li a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Muli';
    font-weight: 300;
    font-size: 18px;
}

.region {
    margin: 89px 0;
}

.region h6 {
    width: 92px;
    height: 60px;
    color: #FFFFFF;
    font-family: 'Muli';
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 700;
}


.help {
    margin: 89px 0;
}

.help h6 {
    width: 92px;
    height: 60px;
    color: #FFFFFF;
    font-family: 'Muli';
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 700;
}

@media (min-width: 768px) and (max-width: 1023px) {
.container-fluid{
    overflow: hidden;
}
.header{
    width: 80%;
    margin: 30px auto 0;
    height: 600px;
}
.header_row{
    margin: 30px 0;
}
.logo{
    display: flex;
}
.logo span{
    font-size: 18px;
}
.header_row svg {
    display: none;
}
.top_nav ul li a{
    font-size: 13px;
    margin-right: 20px;
}
.header_text{
    margin-top: 0;
}
.header_text h2{
    font-size: 30px;
    height: 70px;
    line-height: 30px;
    margin: 0 0 10px;
}
.header_text p{
    height: 170px;
    margin: 0;
    line-height: 30px;
}
.header_banner{
    align-items: center;
}

.consult_btn button {
    width: 150px;
    height: 56px;
    border-radius: 56px;
    border: 1px solid #458ff6;
    background: #458ff6;
    color: #ffffff;
    font-size: 15px;
    line-height: 55px;
}
.illustration{
    height: 400px;
}
.our_services_services{
    height: 600px;
}
.our_services_text{
    margin-top: 70px;
}
.our_services_text h3{
    font-size: 33px;
}
.our_services_text p{
    height: 15px;
}
.our_services_text {
    height: 300px;
    margin: 20px 0 0;
}
.our_services_services_row{
    height: 260px;
    margin-bottom: 25px;
}
.our_services_btn button {
    width: 150px;
    height: 56px;
    font-size: 15px;
    font-weight: 700;
    line-height: 54px;
    color: #458ff6;
    border-radius: 54px;
    border: 1px solid #458ff6;
    background-color: #ffffff;
}
.search_doctor img{
    width: 50px;
    height: 50px;
    margin: 20px 0 10px 10px;
}
.search_doctor h5{
    font-size: 18px;
    margin: 5px 10px;
}
.search_doctor p{
    font-size: 14px;
    margin: 5px 10px;
}
.online_pharmacy img{
    width: 50px;
    height: 50px;
    margin: 20px 0 10px 10px;
}
.online_pharmacy h5{
    font-size: 18px;
    margin: 5px 10px;
}
.online_pharmacy p{
    font-size: 14px;
    margin: 5px 10px;
}
.consultation img{
    width: 50px;
    height: 50px;
    margin: 20px 0 10px 10px;
}
.consultation h5{
    font-size: 18px;
    margin: 5px 10px;
}
.consultation p{
    font-size: 14px;
    margin: 5px 10px;
}
.our_services_services_row2{
    height: 260px;
    margin-bottom: 25px;
}
.detail_info img{
    width: 50px;
    height: 50px;
    margin: 20px 0 10px 10px;
}
.detail_info h5{
    font-size: 18px;
    margin: 5px 10px;
}
.detail_info p{
    font-size: 14px;
    margin: 5px 10px;
}
.emergency_care img{
    width: 50px;
    height: 50px;
    margin: 20px 0 10px 10px;
}
.emergency_care h5{
    font-size: 18px;
    margin: 5px 10px;
}
.emergency_care p{
    font-size: 14px;
    margin: 5px 10px;
}
.tracking img{
    width: 50px;
    height: 50px;
    margin: 20px 0 10px 10px;
}
.tracking h5{
    font-size: 18px;
    margin: 5px 10px;
}
.tracking p{
    font-size: 14px;
    margin: 5px 10px;
}
.leading_healthcare_providers{
    height: 480px;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}
.leading_healthcare_providers_text{
    margin: 0;
}
.leading_healthcare_providers_text h3{
    font-size: 30px;
}
.leading_healthcare_providers_text p{
    font-size: 16px;
    line-height: 25px;
}
.leading_healthcare_providers_text_btn button{
    width: 150px;
    font-size: 15px;
}
.download_our_mobile_apps_background{
    margin-bottom: 0;
    height: 50px;
}
.download_our_mobile_apps{
    align-items: center;
    height: 500px;
}
.download_our_mobile_apps_text{
    margin: 0 10px 0 40px;
}
.download_our_mobile_apps_text h3{
    font-size: 30px;
}
.download_our_mobile_apps_text p{
    font-size: 16px;
    line-height: 25px;
}
.download_our_mobile_apps_img{
    width: 100%;
    margin: 0;
}
.download_our_mobile_apps_btn button {
    width: 150px;
    height: 56px;
    font-size: 15px;
    font-weight: 700;
    line-height: 50px;
    color: #458ff6;
    margin-bottom: -30px;
    border-radius: 54px;
    border: 1px solid #458ff6;
    background-color: #ffffff;
}
.testimonials{
    height: 430px;
    margin: 0 auto;
}
.testimonials_groups{
    padding: 20px;
    height: 300px;
}
.testimonials_groups h4{
    font-size: 30px;
    padding: 0;
}
.testimonials_groups_groups {
    margin: 20px;
}

.testimonials_groups_groups_img{
    margin: 0;
}
.testimonials_groups_groups_img img{
    width: 100px;
    border-radius: 50%;
}
.testimonials_groups_groups_text{
    margin: 35px 0 0 10px;
}
.testimonials_groups_groups_text h6{
    font-size: 18px;
}
.testimonials_groups_groups_text p{
    font-size: 16px;
}
.testimonials_groups_groups_texts{
    font-size: 15px;
}
.arrow_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px 0 0 0;
}
.our_lates_article_text{
    margin: 0 auto 40px;
}
.our_lates_article_text h3{
    font-size: 25px;
    margin: 0;
}
.our_lates_article_row{
    height: 450px;
}
.our_lates_article_row_col{
    width: 100%;
}
.our_lates_article_row_col a img{
    width: 100%;
    height: 150px;
}
.our_lates_article_row a h4{
    width: 100%;
    font-size: 18px;
    line-height: 25px;
}
.our_lates_article_row a p{
    font-size: 15px;
    line-height: 22px;
}
.our_lates_article_row a span{
    font-size: 14px;
}
.our_lates_article_btn {
    width: 150px;
    height: 56px;
    margin: 5% auto 0;
}
.our_lates_article_btn button {
    width: 150px;
    height: 56px;
    border-radius: 55px;
    border: 1.4px solid #458ff6;
    background-color: #ffffff;
    font-family: 'Muli';
    color: #458ff6;
    font-size: 15px;
    line-height: 50px;
}

.footer_row_col{
    margin: 60px 20px 30px 20px;
}
.footer_row_col p{
    height: 100px;
    font-size: 16px;
    margin: 0;
}
.footer_row_col_logo{
    margin-bottom: 15px;
}
.footer_row_col span{
    font-size: 14px;
    margin-right: 20px;
}
.company {
    margin: 50px 0;
}
.company h6 {
    width: 72px;
    height: 50px;
    font-size: 15px;
    margin: 3px;
}
.region {
    margin: 50px 0;
}
.region h6 {
    width: 72px;
    height: 50px;
    font-size: 15px;
    margin: 3px;
}
.help {
    margin: 50px 0;
}
.help h6 {
    width: 72px;
    height: 50px;
    font-size: 15px;
    margin: 3px;
}
.menu_footer{
    margin: 3px;
}
.menu_footer li a{
    font-size: 14px;
}
}

@media (max-width: 767px) {
.header{
    width: 90%;
    height: 100%;
    margin: 15px auto 50px;
}
.logo{
    display: flex;
}
.logo button{
    font-size: 20px;
}
.logo span{
    font-size: 20px;
}
.top_nav{
    display: none;
}
.header_row svg{
    width: 30px;
    height: 30px;
    display: block;
    margin-top: 2%;
}
.header_background{
    width: 110px;
    height: 50px;
}
.header_banner{
    display: block;
}
.header_text{
    margin: 0;
}
.header_text h2{
    font-size: 25px;
    line-height: 30px;
}
.header_text p{
    font-size: 18px;
    line-height: 28px;
}
.consult_btn button{
    width: 130px;
    height: 50px;
    font-size: 15px;
    line-height: 50px;
}
.illustration{
    height: 60%;
    margin: 20px 0;
}
.our_services{
    width: 90%;
    height: 100%;
}
.our_services_text{
    margin: 0 0 35px;
}
.our_services_text h3{
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
}
.our_services_text p{
    margin-top: 15px;
    font-size: 16px;
    line-height: 24px;
}
.our_services_services{
    height: 100%;
}
.our_services_services_row{
    display: block;
    margin-top: 30px;
}
.search_doctor{
    width: 100%;
    height: 250px;
    margin-bottom: 30px;
    padding-top: 30px;
}
.search_doctor img{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.search_doctor h5{
    text-align: center;
    font-size: 20px;
    margin: 0;
}
.search_doctor p{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.online_pharmacy{
    width: 100%;
    height: 250px;
    padding-top: 30px;
    margin-bottom: 30px;
}
.online_pharmacy img{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.online_pharmacy h5{
    text-align: center;
    font-size: 20px;
    margin: 0;
}
.online_pharmacy p{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.consultation{
    width: 100%;
    height: 250px;
    padding-top: 30px;
    margin-bottom: 30px;
}
.consultation img{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.consultation h5{
    text-align: center;
    font-size: 20px;
    margin: 0;
}
.consultation p{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.our_services_services_row2{
    display: block;
    margin-top: 30px;
}
.detail_info{
    width: 100%;
    height: 250px;
    padding-top: 30px;
    margin-bottom: 30px;
}
.detail_info img{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.detail_info h5{
    text-align: center;
    font-size: 20px;
    margin: 0;
}
.detail_info p{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.emergency_care{
    width: 100%;
    height: 250px;
    padding-top: 30px;
    margin-bottom: 30px;
}
.emergency_care img{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.emergency_care h5{
    text-align: center;
    font-size: 20px;
    margin: 0;
}
.detemergency_care p{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.tracking{
    width: 100%;
    height: 250px;
    padding-top: 30px;
    margin-bottom: 30px;
}
.tracking img{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.tracking h5{
    text-align: center;
    font-size: 20px;
    margin: 0;
}
.tracking p{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.our_services_btn div{
    width: 130px;
    height: 50px;
}
.our_services_btn button{
    width: 130px;
    height: 50px;
    font-size: 15px;
    line-height: 50px;
}
.leading_healthcare_providers{
    width: 90%;
    display: block;
    height: 100%;
    padding-top: 10%;
}

.leading_healthcare_providers_img {
    height: 60%;
    margin: 0;
    padding: 10% 0;
}
.leading_healthcare_providers_img img{
    width: 100%;
    height: 100%;
}
.leading_healthcare_providers_text{
    margin: 0;
}
.leading_healthcare_providers_text h3{
    width: 100%;
    font-size: 23px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 20px;
}
.restang{
    display: none;
}
.leading_healthcare_providers_text p{
    font-size: 15px;
    line-height: 20px;
    text-align: center;
}
.leading_healthcare_providers_text_btn{
    width: 130px;
    height: 50px;
    margin: 0 auto;
}
.leading_healthcare_providers_text_btn button{
    width: 130px;
    height: 50px;
    font-size: 15px;
    line-height: 50px;
}
.download_our_mobile_apps_background{
    display: none;
}
.download_our_mobile_apps{
    width: 90%;
    display: block;
}
.download_our_mobile_apps_text{
    padding: 15px 0;
    margin: 0;
}
.download_our_mobile_apps_text h3{
    width: 100%;
    font-size: 23px;
    line-height: 25px;
    text-align: center;
}
.download_our_mobile_apps_text p{
    font-size: 15px;
    line-height: 20px;
    text-align: center;
}
.download_our_mobile_apps_btn{
    width: 130px;
    height: 50px;
    margin: 0 auto;
}
.download_our_mobile_apps_btn button{
    width: 130px;
    height: 50px;
    font-size: 15px;
    line-height: 50px;
}
.download_our_mobile_apps_img{
    height: 60%;
    margin: 0;
    padding: 10% 0;
}
.download_our_mobile_apps_img img{
    width: 100%;
    height: 100%;
}
.testimonials{
    width: 90%;
    margin-bottom: 20px;
    height: 100%;
}
.testimonials_groups{
    padding-top: 15px;
    height: 10%;
}
.testimonials_groups h4{
    font-size: 16px;
}
.restangs{
    display: none;
}
.testimonials_groups_groups{
    display: block;
    width: 100%;
    height: 100%;
    margin: 15px 0;
}
.testimonials_groups_groups_img{
    width: 141px;
    height: 141px;
    margin: 0 auto 20px;
}
.testimonials_groups_groups_text{
    margin: 0;
}
.testimonials_groups_groups_text h6{
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
}
.testimonials_groups_groups_text p{
    width: 130px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
    height: 100%;
    font-size: 16px;
}
.testimonials_groups_groups_texts{
    width: 210px;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
}
.arrow_nav_1{
    margin-right: 30px;
}
.arrow_nav_2{
    margin-right: 10px;
}
.arrow_nav_3{
    margin-right: 30px;
}
.our_lates_article{
    width: 90%;
    padding: 10px 0;
}
.our_lates_article_text{
    width: 100%;
    margin: 0 0 15px;
}
.our_lates_article_text h3{
    height: 100%;
    font-size: 24px;
}
.restanges{
    display: none;
}
.our_lates_article_row{
    display: block;
    width: 90%;
    height: 100%;
}
.our_lates_article_row_col a img{
    height: 100%;
}
.our_lates_article_row_col a h4{
    margin: 0 auto 15px;
    width: 100%;
    text-align: center;
}
.our_lates_article_row_col a p{
    margin: 0 auto 15px;
    width: 100%;
    text-align: center;
}
.our_lates_article_row_col a span{
    margin: 0 auto 15px;
    width: 100%;
    text-align: center;
}
.our_lates_article_btn{
    width: 130px;
    height: 50px;
    margin: 0 auto 50px;
}
.our_lates_article_btn button{
    width: 130px;
    height: 50px;
    font-size: 15px;
    line-height: 50px;
}
.footer_background_reight{
    display: none;
}

.footer_row{
    display: block;
}
.footer_row_col{
    width: 80%;
    margin: 0 auto 45px;
}
.footer_row_col_logo{
    padding-top: 40px;
    margin-bottom: 20px;
}
.footer_row_col p{
    font-size: 13px;
    line-height: 20px;
    height: 60px;
    margin-bottom: 10px;
}
.footer_row_col span{
    font-size: 13px;
}
.company{
    width: 80%;
    margin: 0 auto 50px;
}
.company h6{
    margin: 0;
    height: 30px;
}
.region{
    width: 80%;
    margin: 0 auto 50px;
}
.region h6{
    margin: 0;
    height: 30px;
}

.help{
    width: 80%;
    margin: 0 auto;
}
.help h6{
    margin: 0;
    height: 30px;
}
.menu_footer{
    margin: 20px 0;
}
.menu_footer li a{
    font-size: 13px;
}
.footer_background_left{
    display: none;
}
}